<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
</head>

<body>
  trala
  <!-- <% include ../../partials/nav.ejs %> -->
  <ul>
    <% for(var i=0; i<books.length; i++) {%>
      <li>
        <%= books[i] %>
      </li>
      <% } %>
  </ul>
</body>

</html>