extends layout

block content
  main#index
    section#about
      h2 About
      //adding . after p lets you add a large block of text
      p.
        This website is a space for me to start writing again and to learn web development.
    section#Projects
      h2 Projects
        a(href='/project')
          small see all
      ul
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
    section#books
      h2 Books
        a(href='/book')
          small see all
      ul
        each book in books
          li
            a(href=book.pageUrl)= book.title
    section#notes
      h2 Notes
        a(href='/note')
          small see all
      ul
        each note in notes
          li
            a(href=note.url)= note.title



