<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      background-color: #f9f9f9;
      font-family: 'Source Serif Pro', serif;
      margin: 0;
      /* width: 90%; */
    }

    .navbar {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      /* font-size: 1.1rem; */
      padding: 10px;
      box-sizing: border-box;
    }

    .navbar a {
      text-decoration: none;
      /* display: inline-block; */
    }

    .navbar li, .navbar a {
      color: #f9f9f9;
    }

    .navbar ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .navbar li {
      /* float: left; */
      padding: 0 5px
    }

    .navbar li:nth-child(2) {
      margin-left: auto;

    }

    .navbar svg {
      width: 28px;
      height: 28px;
      opacity: 0.6;
      /* display: inline-block; */
      vertical-align: middle;
    }
    .navbar svg path {
      fill: white;
    }

    .navbar a:hover svg {
      opacity: 0.8
    }
  </style>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <section id="books">
      <li>Books</li>
      <ul>
        <li>
          <a href=/book/book1>book1</a>
        </li>
      </ul>
    </section>
    <section id="notes">
      <li>Notes</li>
      <ul>
        <li>
          <a href=/note/note1>note1</a>
        </li>
      </ul>
    </section>
    <section id="todolist">
      <li>todolist</li>
      <ol>
        <li>how to integrate react with static content?</li>
        <li>how does webpack work with ejs?</li>
        <li>add MongoDB? database to website</li>
        <li>add todolist app</li>
      </ol>
    </section>

</body>

</html>