<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <div id='root'></div>
    <ul>
      <li>Books</li>
      <ul>
        <li>
          <a href=/book/book1>book1</a>
        </li>
      </ul>
      <li>Notes</li>
      <ul>
        <li>
          <a href=/note/note1>note1</a>
        </li>
      </ul>
      <li>todolist</li>
      <ol>
        <li>how to integrate react with static content?</li>
        <li>how does webpack work with ejs?</li>
        <li>add MongoDB? database to website</li>
        <li>add todolist app</li>
      </ol>

    </ul>
</body>

</html>