doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Serif+Pro')
    link(rel='stylesheet', href='/css/home.css')
    title Timothy Goh
  body
    block navbar
      nav.navbar
        div
          ul
            li
              a(href='/') Timothy Goh
            li
              a(href='https://github.com/waltergoh')
                include /public/img/github.svg
    block content